.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #d0d9db;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#header {
display: flex;
align-items: center;
}
#react-logo {
  height: 3rem;
}

.calc-body {
  height: 80vh;
  width: 60vh;
  min-width: 420px;
  min-height: 560px;
  background-color: aliceblue;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'display display display display'
    'clear plusMinus percent divide'
    'seven eight nine multiply'
    'four five six subtract'
    'one two three add'
    'zero zero decimalPoint equals';
}
.keys,
.display {
  display: flex;
  color: aliceblue;
  align-items: center;
}

.keys {
  border: 1px solid #332f2b;
  font-size: 3em;
  justify-content: center;
}
.display {
  grid-area: display;
  font-size: 6rem;
  justify-content: end;
  padding-right: 1rem;
  font-weight: 100;
  border-radius: 1rem 1rem 0 0;
}
.clear {
  grid-area: clear;
}
.plusMinus {
  grid-area: plusMinus;
}
.percent {
  grid-area: percent;
}
.divide {
  grid-area: divide;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.multiply {
  grid-area: multiply;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.subtract {
  grid-area: subtract;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.add {
  grid-area: add;
}
.zero {
  grid-area: zero;
  border-radius: 0 0 0 1rem;
}
.decimalPoint {
  grid-area: decimalPoint;
}
.equals {
  grid-area: equals;
  border-radius: 0 0 1rem 0;
}
.charcoal {
  background-color: #332f2b;
}
.dark-grey {
  background-color: rgb(68, 68, 68);
}
.dark-grey:active {
  background-color: rgba(68, 68, 68, 0.8);
}
.grey {
  background-color: rgb(99, 99, 99);
}
.grey:active {
  background-color: rgba(99, 99, 99, 0.6);
}
.orange {
  background-color: orange;
}
.orange:active {
  background-color: rgb(182, 118, 0);
}
